<div *ngIf="featureRequestList | async; let featureRequestList; else featureRequestListNotLoaded">
  <rafr-feature-request-list-result *ngFor="let featureRequest of featureRequestList"
                                 [featureRequest]="featureRequest"></rafr-feature-request-list-result>
  <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/create-feature-request">
    Create New Feature Request
  </button>
</div>

<ng-template #featureRequestListNotLoaded>
  <div class="card">
    <div class="card-block">
      <span i18n>Loading featureRequest list...</span>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar"
             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</ng-template>
