language: node_js
node_js:
  - "node"
env:
  - RAFR_DB_HOST=localhost RAFR_DB_NAME=rafr NODE_ENV=development
services:
  - mysql
install:
  - cd ./API/
  - npm install
  - cd ../
before_script:
  - mysql -u root -e "ALTER USER $RARF_DB_USERNAME@$RAFR_DB_HOST IDENTIFIED BY '$RARF_DB_PASSWORD';"
  - mysql -u $RAFR_DB_USERNAME -p$RAFR_DB_PASSWORD < ./models/schema.sql
script:
  - npm run generate-models
  - npm test
