<div class="jumbotron">
  <h1 class="display-3" i18n>Welcome to the Really Awesome Feature Requests's admin interface!</h1>
  <p class="lead" i18n>The only place where you can manage clients and product areas</p>
  <hr class="my-4">
  <p i18n>There is no security in place at the moment, so go crazy! Creating, reading (getting), updating, and deleting for clients and product areas are up. Other modules may be added once I start creating the application interface. The next step here is to add login and security.</p>
  <p class="lead">
    <a class="btn btn-outline-success btn-lg" role="button" i18n
       href="http://rafr-feature.s3-website-us-east-1.amazonaws.com/">Go to the app</a>
    <a class="btn btn-outline-primary btn-lg" href="https://github.com/nick-freitas/ReallyAwesomeFeatureRequests"
       role="button" i18n>Go to GitHub</a>
  </p>
</div>
