<div class="jumbotron">
  <h1 class="display-3" i18n>Welcome to the Really Awesome Feature Requests's admin interface!</h1>
  <p class="lead" i18n>The only place where you can manage clients and product areas</p>
  <hr class="my-4">
  <p i18n>There is no security in place at the moment, so go crazy! Or rather don't please, I would prefer not to have
    to reseed the database if I can help it. Product Area is disabled as I work on implementing it. Client however is up
    and running.</p>
  <p class="lead">
    <a class="btn btn-outline-success btn-lg" href="#" role="button" i18n>Go to the app</a>
    <a class="btn btn-outline-primary btn-lg" href="https://github.com/nick-freitas/ReallyAwesomeFeatureRequests"
       role="button" i18n>Go to GitHub</a>
  </p>
</div>
