<div class="jumbotron">
  <h1 class="display-3" i18n>Welcome to the Really Awesome Feature Requests's admin interface!</h1>
  <p class="lead" i18n>The only place where you can manage clients and product areas</p>
  <hr class="my-4">
  <p i18n>There is no security in place at the moment, so go crazy! Only see all client is up at the moment. Remaining
    functionality will be deployed as I add them. Once the admin interface is fully functional, I will move onto the
    main application interface.</p>
  <p class="lead">
    <button class="btn btn-outline-success btn-lg" role="button" disabled i18n>Go to the app</button>
    <a class="btn btn-outline-primary btn-lg" href="https://github.com/nick-freitas/ReallyAwesomeFeatureRequests"
       role="button" i18n>Go to GitHub</a>
  </p>
</div>
