<script src="../../../../feature/src/app/base.service.ts"></script>
<div class="card card-inverse thread-header" style="background-color: #333; border-color: #333;">
  <div class="card-block">
    <h3 class="card-title">Product Area</h3>
    <button type="button" class="btn btn-primary btn-lg btn-block create-new-button" routerLink="/create-product-area">
      Create New Product Area
    </button>
  </div>
</div>

<div *ngIf="list | async; let productAreaList; else productAreaListNotLoaded">
  <rafr-product-area-list-result *ngFor="let productArea of productAreaList.productAreas"
                                 [productArea]="productArea"></rafr-product-area-list-result>

  <rafr-paging (changePage)="setPage($event)" [limit]="limit" [page]="page"
               [totalCount]="productAreaList.totalCount"></rafr-paging>
</div>

<ng-template #productAreaListNotLoaded>
  <rafr-loading [loadingText]="'Loading product area list'"></rafr-loading>
</ng-template>
