<div *ngIf="featureRequest | async; let featureRequest; else featureRequestNotLoaded">
  <rafr-feature-request-header [featureRequest]="featureRequest">
                               (reemitFeatureRequest)="resetFeatureRequest()"></rafr-feature-request-header>

  <div class="card" id="thread-section">
    <div class="card-header">
      <h4>Discussion Threads</h4>
    </div>
    <div class="card-block">
      <h4 class="card-title">Special title treatment</h4>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

<ng-template #featureRequestNotLoaded>
  <div class="card">
    <div class="card-block">
      <span i18n>Loading feature request...</span>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar"
             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</ng-template>
