<div *ngIf="client | async; let client; else clientNotLoaded">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h3>Client</h3>
      <div class="view-button-group" *ngIf="!editing">
        <button type="button" class="btn btn-primary pull-right" (click)="enableEditing(client)">Edit</button>
      </div>
      <div class="edit-button-group" *ngIf="editing">
        <button type="button" class="btn btn-danger pull-right" (click)="destroy(client.id)">Delete</button>
        <button type="button" class="btn btn-secondary pull-right" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary pull-right" (click)="save(client)">Save</button>
      </div>
    </div>

    <div class="card-block" *ngIf="editing; else viewModeCardBlock">
      <div class="form-group row">
        <label for="client-id" class="col-2 col-form-label">Id</label>
        <div class="col-10">
          <input class="form-control" type="text" [ngModel]="client.id" id="client-id" name="id" disabled>
        </div>
      </div>
      <div class="form-group row">
        <label for="client-name" class="col-2 col-form-label">Name</label>
        <div class="col-10">
          <input class="form-control" type="text" [(ngModel)]="client.name" id="client-name" name="name">
        </div>
      </div>
    </div>

    <ng-template #viewModeCardBlock>
      <div class="card-block">
        <p class="card-text">Id: {{client.id}}</p>
        <p class="card-text">Name: {{client.name}}</p>
      </div>
    </ng-template>
  </div>

</div>

<ng-template #clientNotLoaded>
  <div class="card">
    <div class="card-block">
      <span i18n>Loading client...</span>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar"
             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</ng-template>
