<div *ngIf="thread | async; let thread; else threadNotLoaded">
  <div class="card card-inverse thread-header" style="background-color: #333; border-color: #333;">
    <div class="card-block d-flex justify-content-between">
      <h3 class="card-title">{{thread.name}}</h3>
      <button type="button" class="btn btn-danger pull-right" (click)="destroy()" disabled>Delete</button>
    </div>
  </div>

  <div class="posts-list" *ngIf="posts | async; let posts; else postsNotLoaded">
    <div class="card post-card" *ngFor="let post of posts">
      <div class="card-header d-flex justify-content-between">
        <span>{{post.user}}</span>
        <div class="button-group">
          <button class="btn btn-outline-primary pull-right" [routerLink]="['posts', post.id, 'edit']" disabled>Edit</button>
        </div>
      </div>
      <div class="card-block">
        <p class="card-text">{{post.content}}</p>
      </div>
    </div>
  </div>

  <ng-template #postsNotLoaded>
    <div class="card">
      <div class="card-block">
        <span i18n>Loading posts...</span>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar"
               aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #threadNotLoaded>
  <div class="card">
    <div class="card-block">
      <span i18n>Loading thread...</span>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar"
             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</ng-template>
